@keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
}

@font-face {
  font-family: 'TT Lakes Neue';
  src: url('fonts/TT_Lakes/TT-Lakes-Neue-Regular.woff2') format('woff2'),
       url('fonts/TT_Lakes/TT-Lakes-Neue-Regular.woff') format('woff'),
       url('fonts/TT_Lakes/TT\ Lakes\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
    font-family: 'TT Lakes Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
   
}

.menu{
    display: none;
    animation: fadeOut 1s ease backwards;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 10px;
    box-sizing: border-box;
}

.header__title{
    /* font-family: 'TT Lakes Neue', sans-serif; */
    font-size:26px;
    font-weight:700;
    letter-spacing:.2px;
    padding-left: 10px;
    border-left: 5px solid #41f6d7;
}

.header__actions{
    display:flex;
    align-items:center;
    gap:28px;
    flex-wrap:wrap;
    margin-right: 20px;
    font-family: 'TT Lakes Neue', sans-serif;
}

.header__action{
    display:flex;
    align-items:center;
    gap:10px;
    color:#374151;
    font-weight:700;
    text-decoration:none;
    font-family: 'TT Lakes Neue', sans-serif;
}

.nav{
    display:flex;
    flex-wrap: wrap;
    gap:28px;
    padding:20px 0 20px;
    font-size:16px;
    color:#374151;
    font-weight:400;
    box-sizing: border-box;
}

.nav__link{
    padding: 10px 25px;
    color:inherit;
    text-decoration:none;
    box-sizing: border-box;
    border: 1px solid transparent;
    white-space: nowrap;
}

.nav__link:hover{
    border:1px solid #41f6d7;
    background-color: white; 
    border-radius: 5px;
    box-shadow:0 1px 0 rgba(0,0,0,.02);
    box-sizing: border-box;
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    margin: 20px 30px;

}

.content__text--display-for-mobile{
    display: none;
}


.photo img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:8px;
}

.readmore__btn{
    font-family: 'TT Lakes Neue', sans-serif;
    font-size: 16px;
    display:flex;
    align-items:center;
    gap:10px;
    color:#374151;
    font-weight:700;
    text-decoration:none;
}

button{
    border: none;
    background: none;
}

/* for tablet */
@media (min-width: 768px) and (max-width:1024px){

    .header__actions{
        display: none;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px;
        gap: 15px;
        background-color: white;
        animation: fadeIn 1s ease forwards;
    }
    .diveder__mobile{
        display: none;
    }
    .menu__group{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav{
        width: auto;
        margin-left: 20px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        transition: flex-basis .35s ease;
    }
    .nav__link{
        white-space: nowrap;
    }

    .box {
        animation: fadeIn 1s ease forwards;
    }

    .header__title{
        font-size: 28px;
    }

    .content{
        font-size: 14px;

    }
    .content__text--hide-for-tablet{
        display: none;
    }
    .content__text--display-for-mobile{
        display: none;
    }


}


/* for mobile */
@media (max-width:768px){

    .body{
        width: 320px;
        height: auto;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        box-sizing: border-box;
    }
    .menu{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        animation: fadeIn 1s ease forwards;
        box-sizing: border-box;
        padding: 0px;
    }
    .menu__group{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0px 12px 0 0;
    }
    .diveder__tablet{
        display: none;
    }
    .menu__btn--hide-mobile{
        display: none;
    }

    .header__actions{
        display: none;
    }
    .header__title{
        font-size: 28px;
    }
    .nav{
        width: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: start;
        margin-left: 20px;
        overflow-x: scroll;
        transition: flex-basis .35s ease;
    
           }
    .nav__link{
        white-space: nowrap;
        font-size: 16px;
    }

    .content{
        display: flex;
        width: 100vw;
        margin: 10px 10px;
        padding: 0px 10px;
        flex-direction: column;
        font-size: 14px;
        box-sizing: border-box;

    }

    .content__text--hide-for-mobile{
        display: none;
    }

    .content__text--display-for-mobile{
        display: inline;
    }

    .mobile_text{
        display: block;
         margin-bottom: 30px;
    }

    .desciption_text{
        order: 1;
       
    }

    .readmore__btn{
        font-size: 16px;
    }

    .photo img{
        width: 100vw;
        margin-left: -19px;
        border-radius: 0%;
        
    }

  }